.block{
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero{
    height: 200px;
    width: auto;
    border-radius: 50%;
    border: 1rem solid blueviolet;
}

.hero-text{
    color: rgb(250, 51, 144);
    font-size: 55px;
    text-align: center;
}

.content{
    padding: 50px;
    border: 1px dashed  rosybrown;    
} 
